#Rule for executing commands when an external screen is plugged in.
ACTION=="change", KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/amit/.Xauthority", RUN+="/bin/bash /home/amit/scripts/hotplug_monitor.sh"
