! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font:  xft:inconsolata:size=10:antialias=true
URxvt*depth: 32
URxvt*internalborder: 5
URxvt*externalborder:0
!URxvt*background.border:true
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode

URxvt.perl-ext-common: default,matcher,resize-font,keyboard-select
URxvt.url-select.launcher:/usr/bin/xdg-open
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.bordercolor: #fff

!!Keyboard-select:
URxvt.kysym.M-Escape: perl:keyboard-select:activate

!! Resize font:
URxvt.resize-font.smaller: 	C-j
URxvt.resize-font.bigger: 	C-k

!!Font
!URxvt*font: xft:inconsolata, nerd Font Mono:size=10

#define COLOR0 [60]#041b25
#define COLOR1 #3B4252
#define COLOR2 #434C5E
#define COLOR3 #4C566A
#define COLOR4 #D8DEE9
#define COLOR5 #E5E9F0
#define COLOR6 #ECEFF4
#define COLOR7 #8FBCBB
#define COLOR8 #88C0D0
#define COLOR9 #81A1C1
#define COLOR10 #5E81AC
#define COLOR11 #BF616A
#define COLOR12 #D08770
#define COLOR13 #EBCB8B
#define COLOR14 #A3BE8C
#define COLOR15 #B48EAD

*.foreground:   COLOR4
*.background:	COLOR0   
*.cursorColor:  COLOR4
*fading: 8
*fadeColor: COLOR3

*.color0: COLOR1
*.color1: COLOR11
*.color2: COLOR14
*.color3: COLOR13
*.color4: COLOR9
*.color5: COLOR15
*.color6: COLOR8
*.color7: COLOR5
*.color8: COLOR3
*.color9: COLOR11
*.color10: COLOR14
*.color11: COLOR13
*.color12: COLOR9
*.color13: COLOR15
*.color14: COLOR7
*.color15: COLOR6
